:root {
--header-color: #059c889a;
--bio-color: #05744f81;
--background-color: #f0f0f0;
--experience-color: #3a4959;
--body-of-work-color: #c4a0ae;
--contact-info-color:  #c5cdcd;
--background-color: #f5e5e5;
--text-color: #000000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

/* header and nav  */
header {
    background-color: var(--header-color);
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 7px 0;
    font-size: 30px;
    color: var(--text-color);
    align-items: center;
    padding: 15px, 20px;
 }

 header a {
     color: var(--text-color);
 }
/* end header  */

/* header nav starts  */
 header nav {
     margin: 7px 0;
 }


 header nav ul {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     list-style: none;
 }

 header nav ul li {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 15px, 20px;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
 }

 nav {
     justify-content: space-between;
    word-spacing: normal;
 }

 header nav ul li a {
     padding: 10px 15px;
 }

header nav ul li a:hover {
    background: var(--experience-color);
    color: var(--background-color);
    border-radius: 20px;
    text-shadow: none;
}
 /* end header nav  */

 /* begin image of me  */

 img {
     max-width: 100%;
     max-height: 100%;
 } 
.me {
    height: auto;
    width: 300px;
    float: right;
    clear: bottom;
}

/* end image of me  */

/* begin bio  */

.bio-form {
    background-color: var(--bio-color); 
}


.pt-1 {
    float: left;
    font-size: 20px;
    text-align: left;
    border: solid;
    flex-direction: column;
    margin-top: 150px;
} 

.div-bio-form {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: justify;
}

.section-title p {
    text-align: left;
}

h2 {
    text-align: left;
}


