:root {
    --header-color: #059c889a;
    --bio-color: #6d2e23bd;
    --background-color: #f0f0f0;
    --experience-color: #3a4959a9;
    --body-of-work-color: #c4a0ae9c;
    --contact-info-color: #61140a7c;
    --background-color: #f5e5e5;
    --border-color: #000000;
    --text-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    background-image: url("../images/background-image.jpg");
}

/* header and nav  */

/* background-color: var(--header-color);  */

header {
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* background-image: url(../images/2ndbackground-image.jpg);  */
    /* background-image: url("../images/background-image.jpg");  */
    background-size: cover;
    background-position: 80%;
    z-index: 9999;
}


header h1 {
    font-weight: bold;
    margin: 7px 0;
    font-size: 30px;
    color: var(--border-color);
    align-items: center;
    padding: 15px, 20px;
    border: 5px solid;
    border-color: var(--border-color);
    
}

header a {
    color: var(--border-color);
}

/* end header  */

/* header nav starts  */

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px, 20px;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    border: 5px solid;
    border-color: var(--border-color);
    border-style: double;
    border-radius: 50%;
}

nav {
    justify-content: space-between;
    word-spacing: normal;
}

header nav ul li a {
    padding: 10px 15px;
}

header nav ul li a:hover {
    background: var(--experience-color);
    color: var(--background-color);
    border-radius: 20px;
    text-shadow: none;
}

/* end header nav  */

/* begin image of me  */

img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 99px;
    border: 5px solid;
    border-color: var(--border-color);
    border-style: double;
}

.me {
    height: 500px;
    width: 500px;
    float: right;
    clear: bottom;
    margin-top: 50px;
    margin-right: 50px;
}

/* end image of me  */

/* begin bio  */

.bio-form {
    background-color: var(--bio-color);
}

.pt-1 {
    float: left;
    font-size: 20px;
    text-align: left;
    color: var(--text-color);
    border: 5px solid;
    border-color: var(--border-color);
    border-style: double;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 200px;
    justify-content: space-evenly;
}

.div-bio-form {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: justify;
}

.section-title {
    text-align: center;
}

h2 {
    text-align: center;
}

/* end bio  */

/* begin experience  */

.experience-exp {
    background-color: var(--experience-color);
}

.pt-2 {
    font-size: 20px;
    color: var(--text-color);
    font-style: bold;
    text-align: center;
    Border: 5px solid;
    border-style: double;
    border-color: var(--border-color);
    flex-direction: column;
    margin-top: 1200px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 19px 0 19px 0;
    background-color: var(--experience-color);
}

.exp {
    font-size: 20px;
    font-weight: 550;
}

.section-title {
    margin-bottom: 15px;
}

.pt-2 {
    position: relative;
    top: -93px;
}

/* end experience  */

/* begin body of work  */

    

.pt-3 {
    background-color: var(--body-of-work-color);
    /* margin: 300px 400px 400px 1200px; */
    /* margin-top: 300px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 1200px; */
    width: 300px;
    border: 300px;  
    margin: 200px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--text-color);
    padding: 15px 0 0 0;
    justify-content: space-evenly;
    border: 5px solid;
    border-color: var(--border-color);
    border-style: double;
}

.pt-3 h2 {
    font-style: bold;
    text-align: center;
    color: var(--text-color);
}

.pt-3, .body-of-work {
    position: relative;
    top: -80px;
    bottom: -425px;
    right: -170px;
}
/* expirement in resizing  */
.pt-3 {
    background-color: var(--body-of-work-color);
    background-size: contain;
    width: 750px;
    height:750px;
    /* border: 2px solid; */
    color: var(--body-of-work-color);
    resize: both;
    overflow: auto;
}


/* .pt-3 h2 {
    font-style: bold;
    text-align: center;
} */

.run-buddy {
    height: 300px;
    width: 300px;
}

.run-buddy h3 a {
    font-size: 20px;
    text-align: center;
    color: var(--text-color)
}

.run-buddy, .work {
    position: relative;
    top: -15px; 
}



.app {
    height: 300px;
    width: 300px;
}

.app h3 {
    font-size: 20px;
    text-align: center;
    color: var(--text-color)
}

.business {
    height: 300px;
    width: 300px;
}

.business h3 {
    font-size: 20px;
    text-align: center;
    color: var(--text-color);
}

.work {
    height: 300px;
    width: 300px;
}

.work h3 {
    font-size: 20px;
    text-align: center;
    color: var(--text-color);
}

.pt-3, .pair-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

.pt-3, .pair-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}

/* end body of work  */

/* begin contact information  */

.pt-4 {
    background-color: var(--contact-info-color);
    color: var(--text-color);
    text-align: center;
    padding: 0 0 200px 0;
    margin:0 0 0 0;
    font-size: 20px;
    border: 5px solid;
    border-color: var(--border-color);
    border-style: double;
    
}

.pt-4, .contact-information {
    position: relative;
    bottom: -88px;
}

/* end contact  */

/* media queries begin  */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .section-title {
        width: 80%;
    }

    .pt-1 {
        flex: 0 70%;
        justify-content: left;
        justify-content: normal;
    }

    img {
        justify-content: normal;
        padding: 0 30px 100px 0;
        border: none;
        float: right;
    }


    .pt-3 {
        justify-content: center;
        align-items: center;
    }

    .body {
        justify-content: center;
    }

}